@import "variables";

.search {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 3rem 2rem 0;
  padding: 0.25rem 0;
  border-bottom: solid;
  border-bottom-width: 1.5px;

  input {
    font-size: 1.5rem;
    background: transparent;
    border: none;
    min-width: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }

  svg {
    flex-grow: 0;
    flex-shrink: 0;
    height: 1.25rem;
  }

  input:focus {
    outline: none;
  }

  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    margin-left: 0.4rem;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  }
}

.container {
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 2rem;
  font-size: 1.5rem;
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  svg {
    height: 3.5rem;
    margin: 0 2rem;
  }
}

@media (min-width: $breakpoint) {
  .search {
    margin: 3rem 5rem 0;
    border-bottom-width: 2px;

    input {
      font-size: 2.25rem;
    }

    svg {
      height: 2rem;
    }
  }

  .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 5rem;
  }
}